<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SVG</title>

</head>
<body>
    <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <rect width="27" height="27" fill="url(#pattern0)"/>
        <defs>
        <!-- <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1"> -->
        <use xlink:href="#image0_110_392" transform="scale(0.0111111)"/>
        </pattern>
        <image id="image0_110_392" width="90" height="90" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABaCAYAAAA4qEECAAAABmJLR0QA/wD/AP+gvaeTAAACNklEQVR4nO3cO07DQBSF4cNDBCToea2MNfCoIHSkZCNshUcFNCwEUkAVCicoUuxh5ia+Y0/+T7pVwsQ+SYxzZFkCAAAAAAAAAPxjV9KVpBdJY0kTRpNpFs+SLiUNzOlOnUp678BOdX3eplmZ7IqQU8M2fbKvOrDxfZuLpjA3A0GfBR5DvcbMNgJ/9CVpf/XbUrSxpIO6B0JBT9rZluLVZho6dGCFCNoJQS8aSbr1fMHcp0o55m5u/4fGNZLl3umcIc9Ywk4Ws+i3pGtJR5YXaMGRpBtJP0oLZxRYc5S4VrKYRa8tCztI+SSGQp5JCTtZzKKHloUdHMp+uGgS++bVWvasI/SDJ6etyOftJayZ8twkMe/eTVsvvqRbFXbo+FYV9rHlBVpwrOorXtw/w5LmviaD1JAJOnLmw7aE3Bj0dmPM62mo6nAopZ2R/IuadPWoSXMiaCcEvYia1GGoSR2GmnTKWoHGTOd/GeaoSa1faUvIM9m7jhw1aWwFaj1cNFm7mjS2Ao1BTRqQUoEWc+jwrEmtFeiyYXfin2FJQ03qONSkTqhJe4SaNCeCdkLQi6hJHYaa1GGoSRNwNakzriZ1wtWkTria1AlXk7aMq0l7MNSkjkNN6oSatEeoSXMiaCehoMduW1GOz6YHQkF/tLAhpWvMLBT0QwsbUjpTZgNVtxjLfW7bl3mVtGMJWqpumkfYcSGfGDP+M1B1P7cnVXcOy71TXZkvSY+SzrXEJxkAAAAAAAAA1sQvFeKX1jgr8G0AAAAASUVORK5CYII="/>
        </defs>
        </svg>
        

        
</body>
</html>